<h1>About</h1>
<p>
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a book and screencasts project to learn about web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>. This is the Sample App
  from the tutorial.
</p>
  